<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <!--<register
                serviceType="Feature.Promo.Controllers.PromoController, Feature.Promo"
                implementationType="Feature.Promo.Controllers.PromoController, Feature.Promo"
                lifetime="Transient" />
      <register serviceType="Feature.Promo.Repositories.Interface.IPromoRepository, Feature.Promo"
                implementationType="Feature.Promo.Repositories.PromoRepository, Feature.Promo"
                lifetime="Singleton"/>-->
    </services>
  </sitecore>
</configuration>
